#header {
}
.header__wrap {
}
.header__inner {
}
.header__menu {
    padding: 2vh 3vw;
}
.header__menu ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
    border-bottom: 1px solid #fff;
}
.header__menu ul li {
    font-weight: 700;
    font-size: 1.1vw;
}
.header__menu ul li a {
    color: #fff;
}
