#section3 {
    position: relative;
}
.horizontalWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #9c193e;
}
.horizontalSection {
    overscroll-behavior: none;
    width: 500%;
    display: flex;
    flex-wrap: nowrap;
}
.sect1 {
    width: 100%;
    height: 100vh;
}
/* /sect1 */

.sect2 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
}
.sect2 .rows_circle {
    width: 40%;
    height: 100vh;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: -20vw;
}
.sect2 svg:nth-child(1) {
    rotate: -15deg;
}
.sect2 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.sect2 svg:nth-child(2) {
    rotate: -45deg;
}
.sect2 svg:nth-child(2) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    rotate: 47deg;
    font-family: "Montserrat";
}
.sect2 .top_circle1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 5vw;
    top: -18vw;
}
.bom_cicle1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 30vw;
    bottom: -12vw;
}
/* /sect2 */

.sect3 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect3 svg:nth-child(1) {
    rotate: 15deg;
}
.sect3 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 5vw;
    top: -17vw;
}
.bom_cicle2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 0vw;
    bottom: -16vw;
}
/* /sect3 */
.sect4 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect4 svg:nth-child(1) {
    rotate: -15deg;
}
.sect4 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.sect4 svg:nth-child(2) {
    rotate: 15deg;
}
.sect4 svg:nth-child(2) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle3 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 40vw;
    top: -15vw;
}
/* /sect4 */

.sect5 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect5 svg:nth-child(1) {
    rotate: -5deg;
}
.sect5 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle4 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 20vw;
    top: -17vw;
}
/* /sect5 */

.animated_text {
    font-size: 10vw;
    font-weight: 100;
    font-family: "Montserrat";
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: scroll 250s linear infinite;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: 40%;
}
@keyframes scroll {
    100% {
        text-indent: -60em;
    }
}
/* /background text */
