#main {
}
#section {
    padding-top: 9vw;
    position: relative;
}
#section h1 {
    color: #fff;
    text-align: center;
    font-size: 10vw;
    font-weight: 100;
    line-height: 1.05;
    margin-bottom: -18vw;
}
#section .bubble .bubble1{
    width: 20vw;
    position: absolute;
    right: 15vw;
    top: 60vw;
}
#section .bubble .bubble2{
    width: 20vw;
    position: absolute;
    left: 15vw;
    top: 50vw;
    rotate: 270deg;
}
#section .rocket {}
#section .cloud {
    margin-top: -10px;
}