#header {
}
.header__wrap {
}
.header__inner {
}
.header__menu {
    padding: 2vh 3vw;
}
.header__menu ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
    border-bottom: 1px solid #fff;
}
.header__menu ul li {
    font-weight: 700;
    font-size: 1.1vw;
}
.header__menu ul li a {
    color: #fff;
}
/* //header */

#section1 {
    padding-top: 9vw;
    position: relative;
}
#section1 h1 {
    color: #fff;
    text-align: center;
    font-size: 10.4vw;
    font-weight: 100;
    line-height: 1.05;
    margin-bottom: -18vw;
}

.bubble_effect .bubble1 {
    width: 20vw;
    position: absolute;
    right: 15vw;
    top: 60vw;
}
.bubble_effect .bubble2 {
    width: 20vw;
    position: absolute;
    left: 15vw;
    top: 50vw;
    rotate: 270deg;
}
.rocket {
}
.cloud {
    margin-top: -10px;
    position: relative;
}
.about__inner {
}
.profile {
    width: 26vw;
    height: 27vw;
    position: absolute;
    right: 18vw;
    top: -12vw;
    background-image: url(../img/about_01.png);
    background-size: cover;
    background-position: center center;
}
.aboutMe {
    width: 37vw;
    height: 37vw;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -2vw;
    left: 25vw;
    text-align: center;
    z-index: 1;
}
.aboutMe h2 {
    margin-top: 8vw;
    margin-bottom: 2.6vw;
    font-size: 5.2vw;
    font-weight: 100;
    line-height: 1.05;
}
.aboutMe p {
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
}
.sub_profile_01 {
    width: 27vw;
    height: 27vw;
    position: absolute;
    left: 7vw;
    top: 19vw;
    background-image: url(../img/about_02.png);
    background-size: cover;
    background-position: center center;
}
.sub_profile_02 {
    width: 38vw;
    height: 38vw;
    position: absolute;
    right: 20vw;
    top: 40vw;
    background-image: url(../img/about_03.png);
    background-size: cover;
    background-position: center center;
}
.passion {
    width: 25vw;
    height: 25vw;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 54vw;
    right: 6vw;
    text-align: center;
    z-index: 1;
}
.passion h2 {
    margin-top: 6.3vw;
    margin-bottom: 2.6vw;
    font-size: 4.2vw;
    font-weight: 100;
    line-height: 1.05;
}
.passion p {
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
}
.sub_profile_03 {
    width: 28vw;
    height: 28vw;
    position: absolute;
    left: 17vw;
    bottom: 29vw;
    background-image: url(../img/about_04.png);
    background-size: cover;
    background-position: center center;
}
.try {
    width: 25vw;
    height: 25vw;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 42vw;
    left: 2vw;
    text-align: center;
    z-index: 1;
}
.try h2 {
    margin-top: 6.3vw;
    margin-bottom: 2.6vw;
    font-size: 4.2vw;
    font-weight: 100;
    line-height: 1.05;
}
.try p {
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
}

.bubble_effect2 .bubble3 {
    width: 20vw;
    position: absolute;
    left: 15vw;
    bottom: -5vw;
}
.bubble_effect2 .bubble4 {
    width: 20vw;
    position: absolute;
    right: 15vw;
    bottom: -10vw;
    rotate: 180deg;
}
/* //ABOUT ME */

#section2 {
    position: relative;
}
.sun {
}
.sun .site__title {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 39vw;
    left: 33vw;
    z-index: 1;
    width: 34vw;
}
.sun .site__title h2 {
    font-size: 10.4vw;
    font-weight: 100;
    line-height: 1.05;
    margin-bottom: 2.6vw;
}
.sun .site__title p {
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
}

.red_cloud {
    margin-top: -10px;
    background-image: url(../img/red_cloud.png);
}
.red_cloud .site__inner {
    color: #fff;
}

.site__inner {
    padding: 0 10.4vw;
}
.site__inner > div {
    margin-bottom: 15.6vw;
}
.site__inner > div:last-child {
    margin-bottom: 0;
    padding-bottom: 15.6vw;
}
.site__inner .webstandard {
}
.site__inner .webstandard .webstandard_title {
    text-align: right;
    font-size: 5.2vw;
    font-weight: 900;
    line-height: 98%;
    margin-bottom: 2.6vw;
}
.webstandard .webstandard__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.webstandard .webstandard__inner img {
    width: 75%;
}
.webstandard .webstandard__inner p {
    width: 21%;
    text-align: right;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
    white-space: nowrap;
}
.webstandard .webstandard__inner a {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 1vw 0vw;
    width: 15.5vw;
    float: right;
}
/* /webstandard */

.site__inner .responsive .responsive_title {
    text-align: left;
    font-size: 5.2vw;
    font-weight: 900;
    line-height: 98%;
    margin-bottom: 2.6vw;
}
.responsive .responsive__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.responsive .responsive__inner img {
    width: 75%;
}
.responsive .responsive__inner p {
    width: 21%;
    text-align: left;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
    white-space: nowrap;
}
.responsive .responsive__inner a {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 1vw 0vw;
    width: 15.5vw;
    float: left;
}
/* /responsive */

.site__inner .react .react_title {
    text-align: right;
    font-size: 5.2vw;
    font-weight: 900;
    line-height: 98%;
    margin-bottom: 2.6vw;
}
.react .react__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.react .react__inner img {
    width: 75%;
}
.react .react__inner p {
    width: 21%;
    text-align: right;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
    white-space: nowrap;
}
.react .react__inner a {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 1vw 0vw;
    width: 15.5vw;
    float: right;
}
.react .react__inner a:nth-child(2) {
    margin-top: 1vw;
}
.react .react__inner a:nth-child(3) {
    margin-top: 1vw;
}
/* /react */

.site__inner .vue .vue_title {
    text-align: left;
    font-size: 5.2vw;
    font-weight: 900;
    line-height: 98%;
    margin-bottom: 2.6vw;
}
.vue .vue__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.vue .vue__inner img {
    width: 75%;
}
.vue .vue__inner p {
    width: 21%;
    text-align: left;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
    white-space: nowrap;
}
.vue .vue__inner a {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 1vw 0vw;
    width: 15.5vw;
    float: left;
}
/* /vue */

.site__inner .php .php_title {
    text-align: right;
    font-size: 5.2vw;
    font-weight: 900;
    line-height: 98%;
    margin-bottom: 2.6vw;
}
.php .php__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.php .php__inner img {
    width: 75%;
}
.php .php__inner p {
    width: 21%;
    text-align: right;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151%;
    white-space: nowrap;
}
.php .php__inner a {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 2.6vw;
    font-size: 1.5vw;
    color: #fff;
    border: 1px solid #fff;
    padding: 1vw 0vw;
    width: 15.5vw;
    float: right;
}
.php .php__inner a:nth-child(2) {
    margin-top: 1vw;
}
/* /php */
/* //SITE WORK */

#section3 {
    position: relative;
}
.horizontalWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #9c193e;
}
.horizontalSection {
    overscroll-behavior: none;
    width: 500%;
    display: flex;
    flex-wrap: nowrap;
}
.sect1 {
    width: 100%;
    height: 100vh;
}
/* /sect1 */

.sect2 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
}
.sect2 .rows_circle {
    width: 40%;
    height: 100vh;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: -20vw;
}
.sect2 svg:nth-child(1) {
    rotate: -15deg;
}
.sect2 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.sect2 svg:nth-child(2) {
    rotate: -45deg;
}
.sect2 svg:nth-child(2) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    rotate: 47deg;
    font-family: "Montserrat";
}
.sect2 .top_circle1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 5vw;
    top: -18vw;
}
.bom_cicle1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 30vw;
    bottom: -12vw;
}
/* /sect2 */

.sect3 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect3 svg:nth-child(1) {
    rotate: 15deg;
}
.sect3 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 5vw;
    top: -17vw;
}
.bom_cicle2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 0vw;
    bottom: -16vw;
}
/* /sect3 */
.sect4 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect4 svg:nth-child(1) {
    rotate: -15deg;
}
.sect4 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.sect4 svg:nth-child(2) {
    rotate: 15deg;
}
.sect4 svg:nth-child(2) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle3 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    left: 40vw;
    top: -15vw;
}
/* /sect4 */

.sect5 {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: -1;
}
.sect5 svg:nth-child(1) {
    rotate: -5deg;
}
.sect5 svg:nth-child(1) text {
    font-size: 2vw;
    font-weight: 400;
    fill: #fff;
    font-family: "Montserrat";
}
.top_circle4 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #ece3ce;
    right: 20vw;
    top: -17vw;
}
/* /sect5 */

.animated_text {
    font-size: 10vw;
    font-weight: 100;
    font-family: "Montserrat";
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: scroll 250s linear infinite;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: 40%;
}
@keyframes scroll {
    100% {
        text-indent: -60em;
    }
}
/* /background text */
/* //javascript */

#section4 {
}
#section4 .beige_cloud {
    margin-top: -470px;
    width: 100%;
    /* height: 100vh; */
    background-color: #ece3ce;
}
.beige_cloud {
    text-align: center;
}
.beige_cloud svg {
    margin-bottom: 1.6vw;
}
.study_site {
    overflow: hidden;
}
.study_site p {
    margin-bottom: 15.6vw;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 151.4%;
}
.study_site ul {
    text-transform: uppercase;
    font-size: 4.2vw;
    font-weight: 100;
    white-space: nowrap;
}
.study_site ul li {
    border-top: 1px solid #000;
    padding: 20px 0;
    animation: scroll 100s linear infinite;
}
@keyframes scroll {
    100% {
        text-indent: -60em;
    }
}
.study_site ul li:last-child {
    border-bottom: 1px solid #000;
}
.contact_me {
    padding: 15.6vw;
    position: relative;
    overflow: hidden;
}
.contact_me h2 {
    font-weight: 100;
    font-size: 5.2vw;
    margin-bottom: 5.2vw;
}
.contact_me .info {
    display: flex;
    justify-content: space-between;
}
.contact_me .info input {
    font-family: "Montserrat";
    width: 100%;
    border-radius: 20px;
    font-weight: 100;
    font-size: 1.6vw;
    padding: 1.6vw;
    border: 1px solid #000;
    margin-bottom: 2.6vw;
}
#name {
    margin-right: 1vw;
}
#email {
    margin-left: 1vw;
}
.contact_me .text {
    display: block;
}
.contact_me .text textarea {
    box-sizing: border-box;
    font-family: "Montserrat";
    width: 100%;
    border-radius: 20px;
    font-weight: 100;
    font-size: 1.6vw;
    padding: 1.6vw;
    border: 1px solid #000;
    margin-bottom: 2.6vw;
}
.contact_me button {
    padding: 1vw 3vw;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 100;
    font-size: 1.6vw;
    background: #ece3ce;
    margin-bottom: 2.6vw;
}
.cotact_profile {
    width: 25vw;
    height: 25vw;
    position: absolute;
    left: 5vw;
    top: 0;
    background-size: cover;
    background-image: url(../img/contact_01.svg);
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}
.contact_icon1 {
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 9vw;
    right: 12vw;
    background-image: url(../img/contact_02.svg);
    background-size: cover;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}
.contact_icon2 {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 30vw;
    right: -10vw;
    background-image: url(../img/contact_03.svg);
    background-size: cover;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}
.contact_icon3 {
    width: 20vw;
    height: 20vw;
    position: absolute;
    bottom: 0vw;
    left: -4vw;
    background-image: url(../img/contact_04.svg);
    background-size: cover;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}
.contact_icon4 {
    width: 7vw;
    height: 7vw;
    position: absolute;
    bottom: -1vw;
    left: 46vw;
    background-image: url(../img/contact_05.svg);
    background-size: cover;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}
.contact_icon5 {
    width: 12vw;
    height: 12vw;
    position: absolute;
    bottom: -6vw;
    right: 2vw;
    background-image: url(../img/contact_06.svg);
    background-size: cover;
    animation: rotate 30s linear infinite;
}
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}

.my_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.my_info img {
    width: 5vw;
    margin-bottom: 2.6vw;
}
.my_info p {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.9vw;
}
/* //study & contact me */